<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://kit.fontawesome.com/8ddac56881.js" crossorigin="anonymous"></script>

    <title>Liste des étudiants</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/all.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />-->
<!--
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
-->
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:include="/_sidebar2"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:include="/_topBar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Liste des étudiants</h1>
                </div>

                <div class="row">

                    <div class="col-xl-4 col-lg-5">
                        <table class="content-table table-bordered">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Mail</th>
                                <th>Adresse</th>
                                <th>Numéro</th>
                                <th>Niveau</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="etudiant : ${util}">
                                <td th:text="${etudiant.nom}">Nom</td>
                                <td th:text="${etudiant.prenom}">Prenom</td>
                                <td th:text="${etudiant.mail}">Mail</td>
                                <td th:text="${etudiant.adresse}">Adresse</td>
                                <td th:text="${etudiant.numero}">Numéro</td>
                                <td th:text="${etudiant.niveau}">Niveau</td>


                                <td>
                                    <a th:href="@{/admin/editEtudiants/{id}(id=${etudiant.id})}"><span><i class="fas fa-edit"></i></span></a>
                                    <a th:href="@{/admin/delete/{id}(id=${etudiant.id})}"><span><i class="fas fa-trash"></i></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Content Row -->
            </div>
            <!-- /.container-fluid -->

        </div>
    </div>
</div>
<script src = "./Bootstrap/bootstrap.js"></script>
<script src = "./Bootstrap/bootstrap.min.js"></script>
</body>
</html>
